// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5
}

input.city-input {
    border-style : none;
    background: none;
    border-bottom-style: solid;
        &:focus {
            box-shadow: none;
            background: none;
            border-color:#ced4da;
        }
}

button.city-search {
    border: 1px none #ced4da;
    background: none;
    border-bottom-style: solid;
        &:focus {
            border: 1px none #ced4da;
            background: none;
            border-bottom-style: solid;
        }

        &:hover {
            border: 1px none #ced4da;
            background: none;
            border-bottom-style: solid;
            color: #6c757d;
        }

        &:active {
            border: 1px none #ced4da;
            background: none;
            border-bottom-style: solid;
        }
}
